# Virtual environments
venv/
env/
.venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/
